<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="/css/index.css">
    <title>首页</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <h2>
                        学生管理表
                    </h2>
                    <button  type="button" class="btn btn-info addbtn">增加</button>
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>
                                序号
                            </th>
                            <th>
                                姓名
                            </th>
                            <th>
                                电话
                            </th>
                            <th>
                                状态
                            </th>
                            <th>
                                时间
                            </th>
                            <th>
                                操作
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td width="70px"> <button type="button" class="btn btn-primary btn-sm">编辑</button></td>
                                <td  width="70px"> <button type="button" class="btn btn-danger btn-sm">删除</button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td width="70px"> <button type="button" class="btn btn-primary btn-sm">编辑</button></td>
                                <td  width="70px"> <button type="button" class="btn btn-danger btn-sm">删除</button></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>4</td>
                                <td>4</td>
                                <td>4</td>
                                <td>4</td>
                                <td width="70px"> <button type="button" class="btn btn-primary btn-sm">编辑</button></td>
                                <td  width="70px"> <button type="button" class="btn btn-danger btn-sm">删除</button></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                                <td width="70px"> <button type="button" class="btn btn-primary btn-sm">编辑</button></td>
                                <td  width="70px"> <button type="button" class="btn btn-danger btn-sm">删除</button></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>6</td>
                                <td>6</td>
                                <td>6</td>
                                <td>6</td>
                                <td width="70px"> <button type="button" class="btn btn-primary btn-sm">编辑</button></td>
                                <td  width="70px"> <button type="button" class="btn btn-danger btn-sm">删除</button></td>
                                
                            </tr>
    
                        </tbody>
                    </table>
                  
                </div>

            </div>

        </div>
    </div>
</body>

</html>